body{
    background-color:hsl(212, 45%, 89%) ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
img{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    margin-top: 20px;

}

p{
    font-size: 15px;
    font-weight: 100;
}


.container{
    display: flex;
    justify-content: center;
}

.fundo{
   background-color: hsl(0, 0%, 100%);
   height: 450px;
   width: 300px;
   border-radius: 10px;
}

.texto{
    margin: 20px;
}

h1{
    font-weight: 700;
    margin-bottom: 20px;
}

@media (max-width: 400px) {
    img{
        width: 200px;
        height: 200px;
    }

    .fundo{
        height: 400px;
        width: 300px;

    }
    
}





