body{
    background-color:hsl(212, 45%, 89%) ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
img{
    width: 400px;
    height: 400px;
    border-radius: 5em;
    padding-top: 20px;
}


.container{
    display: flex;
    justify-content: center;
}

.fundo{
   background-color: hsl(0, 0%, 100%);
   
}








